#gameWindow {
    width: 960px;
    height: 640px;
    border: 1px solid black;
    display: block;
    margin: 128px auto;
}

@font-face {
    font-family: "PressStart2P";
    src: url("../fonts/PressStart2P-vaV7.ttf")
}